@charset "utf-8";

@use "sass:math" as *;


.section {
  width: 100%;
  padding-inline: $main-horizontal-padding;
  display: flex;
  align-items: center;
  justify-content: center;
  @include smartphone {
    padding-inline: $main-smartphone-horizontal-padding;
  }
}

.section-inner {
  width: 100%;
  max-width: $main-width;
}

.header {
  width: 100%;
  padding-block-start: 32px;
  padding-block-end: 32px;
  padding-inline: 64px;
  color: $secondary-color;
  background: linear-gradient(to right, $dark-primary-color, $primary-color, $dark-primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.header-title {
  letter-spacing: 0.2em;
  font-size: 150%;
  font-weight: bold;
}

.section-title {
  margin-block-start: 80px;
}

.title {
  column-gap: 24px;
  color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-ornament {
  height: 18.83958px * 2.5;
  flex-grow: 0;
  flex-shrink: 0;
}

.title-main {
  row-gap: 8px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
}

.title-main-number {
  font-size: 175%;
}

.title-main-text {
  font-size: 200%;
  font-weight: bold;
}

.navigation {
  margin-block-start: 24px;
  column-gap: 24px;
  display: flex;
}

.navigation-link-container {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  &:first-child {
    justify-content: flex-end;
  }
  &:last-child {
    justify-content: flex-start;
  }
}

.navigation-link {
  column-gap: 12px;
  font-size: 175%;
  color: $primary-color;
  display: flex;
  align-items: center;
  opacity: 0.5;
  &:hover {
    opacity: 0.8;
  }
}

.navigation-center {
  display: flex;
  align-items: center;
}

.navigation-arrow {
  height: 12.12340px * 2.5;
}

.navigation-arrow-center {
  height: 3.11926px * 2.5;
}

.section-exhibit {
  margin-block-start: 48px;
}

.exhibit {
  aspect-ratio: 6 / 7;
  border: solid $primary-color 24px;
  @include smartphone {
    border-width: 12px;
  }
}

.exhibit-inner {
  width: 100%;
  height: 100%;
  border: solid $secondary-color 2px;
}

.exhibit-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.section-description {
  margin-block-start: 60px;
}

.comment {
  display: flex;
  flex-direction: column;
}

.comment-heading {
  font-size: 150%;
  font-weight: bold;
  color: $primary-color;
  letter-spacing: 0.05em;
  background: linear-gradient(to bottom, transparent 60%, $secondary-color 60%);
  align-self: flex-start;
}

.comment-main {
  margin-block-start: 24px;
  row-gap: 8px;
  display: flex;
  flex-direction: column;
}

.comment-paragraph {
  @include line-height(1.8);
}