@charset "utf-8";

@import "reset.scss";
@import "variable.scss";
@import "common.scss";
@import "main.scss";
@import "top.scss";
@import "footer.scss";


html {
  font-size: 16px;
}

body {
  @include text-size-adjust;
  background-color: $background-color;
  font-family: "EB Garamond", "Shippori Mincho B1", serif;;
  font-weight: normal;
  font-feature-settings: "palt" 1, "pkna" 1;
  line-height: 1;
  text-decoration-skip-ink: none;
  overflow-x: auto;
  overflow-y: scroll;
}