@charset "utf-8";

@import "reset.scss";
@import "variable.scss";
@import "header.scss";


html {
  font-size: 16px;
}

body {
  margin: 0rpx;
  padding: 0rpx;
  color: $text-color;
  background-color: hsl(55, 100%, 97%);
  font-family: "EB Garamond", "Shippori Mincho B1", serif;;
  font-weight: normal;
  font-feature-settings: "palt" 1, "pkna" 1;
  line-height: 1;
  text-decoration-skip-ink: none;
  overflow-x: auto;
  overflow-y: scroll;
}