@charset "utf-8";

@use "sass:math" as *;


.header {
  width: 100%;
  padding-block-start: 32px;
  padding-block-end: 32px;
  padding-inline: $main-horizontal-padding;
  color: $accent-color;
  background-image: linear-gradient(to right, $dark-primary-color, $primary-color, $dark-primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  @include smartphone {
    padding-inline: $main-smartphone-horizontal-padding;
  }
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  font-size: 175%;
  font-weight: bold;
}

.section-title {
  margin-block-start: 80px;
}

.section-inner-title {
  row-gap: 32px;
  display: flex;
  flex-direction: column;
}

.title {
  column-gap: 32px;
  color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before,
  &::after {
    width: 31.94478px * 2.5;
    height: 18.83958px * 2.5;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 0;
    flex-shrink: 0;
    content: "";
    @include smartphone {
      display: none;
    }
  }
  &::before {
    background-image: url("../material/ornament-left.svg");
  }
  &::after {
    background-image: url("../material/ornament-right.svg");    
  }
}

.title-main {
  row-gap: 12px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
}

.title-main-number {
  font-size: 175%;
}

.title-main-text {
  @include line-height(1.2);
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}

.navigation {
  column-gap: 32px;
  display: flex;
}

.navigation-link-container {
  display: flex;
  flex-basis: 0px;
  flex-grow: 1;
  flex-shrink: 0;
  &:first-child {
    justify-content: flex-end;
  }
  &:last-child {
    justify-content: flex-start;
  }
}

.navigation-link {
  padding-block: 4px;
  padding-inline: 12px;
  column-gap: 12px;
  font-size: 175%;
  color: $secondary-color;
  background-image: linear-gradient(to bottom, transparent 0%, $accent-color 0%);
  background-size: 100% 40%;
  background-position: left bottom;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  transition: background-size ease 0.2s;
  &:hover {
    background-size: 100% 100%;
  }
  &::before,
  &::after {
    width: 10.87790px * 2.5;
    height: 12.12340px * 2.5;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
  }
  &[data-position="left"]::before {
    background-image: url("../material/arrow-left.svg");    
  } 
  &[data-position="left"]::after {
    display: none;
  } 
  &[data-position="right"]::after {
    background-image: url("../material/arrow-right.svg");    
  }
  &[data-position="right"]::before {
    display: none;
  } 
}

.navigation-center {
  display: flex;
  align-items: center;
}

.section-exhibit {
  margin-block-start: 64px;
}

.exhibit {
  border: solid $primary-color 24px;
  @include smartphone {
    border-width: 12px;
  }
}

.exhibit-inner {
  width: 100%;
  min-height: 30vh;
  max-height: 90vh;
  background-color: white;
  border: solid $accent-color 2px;
  overflow: auto;
  &[data-type="webpage"],
  &[data-type="pdf"] {
    height: 90vh;
    overflow: hidden;
  }
  &[data-type="image"],
  &[data-type="text"] {
    padding-block: 32px;
    padding-inline: 32px;
    row-gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include smartphone {
      padding-block: 16px;
      padding-inline: 16px;
    }
  }
}

.exhibit-webpage,
.exhibit-pdf {
  width: 100%;
  height: 100%;
  border: none;
}

.exhibit-image {
  max-width: 100%;
}

.exhibit-text {
  @include line-height(1.5);
  width: 100%;
  font-family: sans-serif;
  font-size: 120%;
  white-space: pre-wrap;
}

.section-description {
  margin-block-start: 64px;
  padding-block: 64px;
  color: white;
  background-image: linear-gradient(to right, $dark-primary-color, $primary-color, $dark-primary-color);
}

.section-inner-description {
  row-gap: 24px;
  display: flex;
  flex-direction: column;
}

.comment {
  display: flex;
  flex-direction: column;
}

.comment-heading {
  font-size: 150%;
  font-weight: bold;
  color: $accent-color;
  letter-spacing: 0.05em;
  align-self: flex-start;
}

.information {
  @include line-height(1.8);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.information-exhibitor {
  &::before {
    margin-inline-end: 0.5em;
    opacity: 0.5;
    content: "⸺"
  }
}

.information-date {
  color: rgba(white, 0.5);
}

.section-navigation {
  margin-block-start: 64px;
}