@charset "utf-8";


$text-color: hsl(0, 0, 10%);
$primary-color: hsl(240, 35%, 30%);
$dark-primary-color: hsl(240, 35%, 20%);
$secondary-color: hsl(55, 70%, 75%);
$background-color: hsl(55, 70%, 97%);

$main-width: 1200px;
$main-horizontal-padding: 64px;
$main-smartphone-horizontal-padding: 24rpx;


@mixin line-height($line-height: $line-height) {
  line-height: $line-height;
  &::before {
    width: 0rpx;
    height: 0rpx;
    margin-block-start: - line-intrusion($line-height);
    display: block;
    content: "";
  }
  &::after {
    width: 0rpx;
    height: 0rpx;
    margin-block-end: - line-intrusion($line-height);
    display: block;
    content: "";
  }
}

@mixin text-size-adjust {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@mixin smartphone {
  @media screen and (max-width: 880px) {
    @content;
  }
}